.container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 800px;
    height: 150px;
    border: 2px solid black;
  }
  .square {
    width: 150px;
    height: 150px;
    margin: 0;
    box-sizing: content-box;
    text-align: center;
    line-height: 150px;
  }
  .square:nth-child(1) {
    background-color: red;
  }
  .square:nth-child(2) {
    background-color: blue;
  }
  .square:nth-child(3) {
    background-color: green;
  }
  .number {
    color: white;
    font-size: 20px;
    font-weight: bold;
  }